.Person {
  border: 1px solid #eee;
  width: 60%;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  margin: 16px auto;
}
@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
